Social Media Content Generator & Planner/workflow.json
{
  "name": "Social Media Content Generator & Planner",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b07126a4-40fe-4b66-8c4c-adaa684b2202",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "8e1e258e-a0a7-4c4e-9ab4-208612531dee",
      "name": "Search a page",
      "credentials": {
        "notionApi": {
          "id": "wmQEVVitr7joI7YX",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  return {\n    json: {\n      title: item.json.property_naam || \"\",\n      summary: item.json.property_tekst || \"\",\n      status: item.json.property_status || \"\",\n      url: item.json.url || \"\"\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "1d86ff88-f3d7-42de-b77b-f4e54aea51bc",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5011dcb8-43fa-450f-b9e8-64c6ad26be93",
              "name": "linkedin_post",
              "value": "=🚀 {{$json.title}}\n\n{{$json.summary}}\n\n👉 Lees meer: {{$json.url}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "b3f2c533-cbc1-4c7c-ab23-2da0e11fc583",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nnow.setMinutes(now.getMinutes() + 5); // post over 5 min (test)\n\nreturn [{\n  json: {\n    ...$json,\n    post_at: now.toISOString()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "961ff045-a32c-434d-8f3f-1f46d21950c2",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "decc5e31-8fe3-4fe3-902c-ce3c388008c7",
              "leftValue": "tatus",
              "rightValue": "Ready",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1040,
        0
      ],
      "id": "b6b66843-d224-4945-ad54-406ee0c1607b",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1280,
        0
      ],
      "id": "eb1e0326-0b1a-4c97-90b7-a24189babae6",
      "name": "Wait",
      "webhookId": "cf834356-977f-4b69-9ed5-b8cf12165036"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d8f2c52f-268e-427b-bf89-e223a7f9a732",
              "leftValue": "platform",
              "rightValue": "linkedin",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1456,
        0
      ],
      "id": "e8967d94-b717-4708-b4e5-d85efe3f8a89",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.site/9e9aabc0-c8ad-4c87-82ed-35db2a1fb8f4",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "value": "={\n  \"text\": \"{{$json.linkedin_post}}\",\n  \"scheduled_at\": \"{{$json.post_at}}\"\n}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1664,
        96
      ],
      "id": "7c22e7e1-2844-4822-b601-8bd8073c5ef4",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search a page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search a page": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "43566daa-1785-4d4f-8572-c6c0c73ab7fe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5dde7816d102929505e06f082916113a5da779a70b5c674a04bfb1a774a96290"
  },
  "id": "SJfFtrMCf0ne4YogKVpBo",
  "tags": []
}